/* section{
   min-height: 100vh; 
} */
.carousel-container{
    display: flex;
    flex-direction: column-reverse;
    color: white;
}
.carousel-container .carousel-indicators{
    position: relative;
}
/* .carousel-container .lang-image{
    width: 25px;
    height: auto;
    align-self: center;
    border-radius: 50%;
} */
.carousel-inner .carousel-item{
    /* background-color: grey; */
}