.pilot-page{
    display: flex;
    justify-content: space-evenly;
    background-color:#caf0f8;
    height: 80vh;
}
.left-side{
    display: flex;
    flex-direction: column;
    flex: 50%;
}
.image-text{
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #03045e;
}
.svg-container{
    height: 80%;
}
.profile-side{
    display: flex;
    flex: 50%;
}
