.pilot-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
    height: 80vh;
}
.svg-container{
    flex: 50%;
}
.profile-side{
    display: flex;
    flex: 50%;
}
