footer{
    height: 12vh;
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
footer span{
    margin-right: 25px;
}