section{
   display: flex; 
   flex-direction: column;
}

/* @media screen and (max-width:708px) {
    .university-section { 
        flex-wrap: wrap;  
        margin: 20px;
    }
    .university-section .card{
        margin: 10px;
    }
} */
