.showcase-page{
    display: flex;
    /* flex-wrap: wrap; */
    /* background-color: black; */
    background-color: #fff5fe;
    height: 80vh;
}
.showcase-page .sidebar{
    background-color: #ff6863;
    display: flex;
    flex: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}
.showcase-page .sidebar a{ 
    padding-block: 20px;
    text-decoration: none !important;
    color: #fff5fe;
}

.showcase-page .sidebar a:hover, .showcase-page .sidebar a.active{
    cursor: pointer;
    text-decoration: underline;
}
.showcase-page .sidebar a:hover{
    background-color: white;
    color: black;
}

.showcase-page .sidebar a.active{
    background-color: #e3242b;
}

.showcase-page .display{
    flex:80%;
    display: flex;
    justify-content: center;
}

