.university-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    text-align: center;

}
.university-section .card{
    /* width: 250px; */
    border-radius: 25px;
    /* padding: 2px; */
    background-color: lightgray
}

.university-section .card img{
    border-radius: 25px;
    /* height: 250px; */
    /* width: 250px; */
    align-self: center;
    /* padding-top: 5px; */
    
}